header{
    background-color: white;
    width:100%;
    text-align: center;
    color:white;
    padding:15px;
    margin:0;
}



.first{
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header sub{
    font-weight: normal;
}
html{
    overflow-x: hidden;
    width:100%;
    padding:0;
    margin-left:0;
    margin-right: 0;
    

}
input[type="text"],input[type="number"],select{
    width:80%;
    outline:none;
    display: block;
    margin:auto;
   
    border-width:0 0 2px 0;
}
form{
    width:80%;
    margin:auto;
}
form>section>section{
    margin:15px;
}
select option{
    
    text-align: center;
}
form>section{
    background-color: white;
    border:1px solid black;
    box-shadow:1px 1px 2px,-1px,-1px,1px;
    margin:10px;
    padding:10px;
}

body{
    margin:0;
    padding:0;
}
#last input{
    width:200px;
    background-color: black;
    color:white;
    border-radius: 10px;
    padding:10px;
    text-transform: uppercase;
    font-weight: bold;
}
#last{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#app{
    display: none;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    
}
body *:focus,body{
    background-color: skyblue;
}

button{
    border-radius: 20px;
    border: white;
    width: 50px;
}



